<div class="row">
	<div class="col-md-4">
		<img src="http://scienceblogs.com/startswithabang/files/2011/05/mr-t-in-the-role-of-ba-baracus-in-the-a-team.jpeg" alt="MR.T" class="img-responsive">
		<p> Thanks!  <br><br> You'll hear from me soon! </p>
	</div>
</div>