<div class="row">
	<div class="col-md-4">
		<img src="http://scienceblogs.com/startswithabang/files/2011/05/mr-t-in-the-role-of-ba-baracus-in-the-a-team.jpeg" alt="MR.T" class="img-responsive">
		<p> Thanks, sucka'!  I pity the fool who don't contact me in a prompt and friendly fashion!  I'll hit 'cha back soon! </p>
	</div>
</div>