

<!--Videos Section-->

<div class="container" id="video-page">
  <div class="row">
    <div class="heading" id='albums'>
      <h1>Videos</h1>
    </div>
  </div>
  <div class="container">
    <div class="row" id="album-art">  
      <div class="ghosting col-md-3 col-sm-6 col-xs-12" id='video-1'>
        <a href="http://blakefarha.bandcamp.com/album/things-i-left-behind-ep" data-toggle="modal" data-target=".bs-example-modal-sm-ghosting"><p></p></a>
        <h4>Ghosting by Mother Mother</h4>
      </div>
      <div class="video blackbird col-md-3 col-sm-6 col-xs-12" id='video-1'>
        <a href="http://blakefarha.bandcamp.com/album/things-i-left-behind-ep" data-toggle="modal" data-target=".bs-example-modal-sm-blackbird"><p></p></a>
        <h4>Blackbird by The Beatles</h4>
      </div>
        <div class="video skinny-love col-md-3 col-sm-6 col-xs-12" id='video-1'>
        <a href="http://blakefarha.bandcamp.com/album/things-i-left-behind-ep" data-toggle="modal" data-target=".bs-example-modal-sm-skinny-love"><p></p></a>
        <h4>Skinny Love by Bon Iver</h4>
      </div>
        <div class="video dirty-tricks col-md-3 col-sm-6 col-xs-12" id='video-1'>
        <a href="http://blakefarha.bandcamp.com/album/things-i-left-behind-ep" data-toggle="modal" data-target=".bs-example-modal-sm-dirty-tricks"><p></p></a>
        <h4>Dirty Tricks by Blake Farha</h4>
      </div>
    </div>
       <!--<button class="btn btn-default" data-toggle="modal" data-toggle="tool-tip" data-target=".bs-example-modal-sm" title="Watch me play!" id="video-button">Video</button>-->
       <div class="modal fade bs-example-modal-sm-ghosting" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Cover of <strong>"Ghosting"</strong> by <strong>Mother Mother</strong></h2>
              </div>
              <div class="modal-body">
                <section class="youtube_box">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/1sKRhmN8dzo" frameborder="0" allowfullscreen></iframe>
                </section>
              </div>
            </div>
          </div>
        </div>
       <div class="modal fade bs-example-modal-sm-blackbird" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Cover of <strong>"Blackbird"</strong> by <strong>The Beatles</strong></h2>
              </div>
              <div class="modal-body">
                <section class="youtube_box">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/QkA0XzGjBOo" frameborder="0" allowfullscreen></iframe>
                </section>
              </div>
            </div>
          </div>
        </div>
       <div class="modal fade bs-example-modal-sm-skinny-love" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Cover of <strong>"Skinny Love"</strong> by <strong>Bon Iver</strong></h2>
              </div>
              <div class="modal-body">
                <section class="youtube_box">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/r_d2kZEk7vo" frameborder="0" allowfullscreen></iframe>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade bs-example-modal-sm-dirty-tricks" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel"><strong>"Dirty Tricks"</strong> by <strong>Blake Farha</strong></h2>
              </div>
              <div class="modal-body">
                <section class="youtube_box">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/dwWqXE_UGFQ" frameborder="0" allowfullscreen></iframe>
                </section>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<!-- video embedded directly into webpage
<section class="youtube_box">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1sKRhmN8dzo" frameborder="0" allowfullscreen></iframe>
</section>-->

<!--End of Videos Section-->