<table>
  <tbody>
    <tr>
      <td><p>Ehr mhr ghrd, someone sent you an email!  See what they said below!</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>