<div class="row">
	<div class="col-lg-12 col-md-4">
		<h3>Thanks so much, <%= @user.first_name %></h3>
		<p>You just purchased <%= @product.name %>!  I hope you enjoy it!</p>
		<img src ="<%= @product.image_url %>">
	</div>
	<div>
		<h3>Cheers!</h3>
	</div>
</div>