<table>
  <tbody>
    <tr>
      <td><h2>Hey there!</h2></td>
    </tr>
    <tr>
      <td><p>Thanks from yours truely, <%= @appname %>, for signing up on my website!</p></td>
    </tr>
    <tr>
      <td><p>I'll be sure to keep you posted on all of the wonderful stuff I have going on!</p></td>
    </tr>
    <tr>
      <td><p>Don't be a stranger!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>