// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron h1 {
	text-align: center;
}

.uphill_climb_cover {
	width: 300px;
	height: 300px;
}