// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.jumbotron {
	text-align: center;
}

.uphill_climb_cover {
	width: 500px;
	height: 500px;
	margin: 100px;
	background-image: url("../images/uphill_climb_front_cover.jpg");
	background-size: cover;
}